
<div class="about">
  <% @categories.each do |category| %>
     <div class="container">
       <h3><%= category.name %></h3>
       <div class="about-grids">
        <% category.services.published.each do |service| %>
          <div class="col-md-2 about-grid">
            <img src="images/ab1.jpg" class="img-responsive" alt=""/>
            <%= link_to service_path(service) do %>
              <h4 class="text-center"><%= service.name %></h4>
            <% end %>
          </div>
        <% end %>
       </div>
     </div>
   <% end %>
</div>




