
<div class="about">
  <input type="text" id="input_search">
  <% @categories.each do |category| %>
     <div class="container">
      <%if category.has_service? %>
       <h3><%= category.name %></h3>
      <%end%>
       <div class="about-grids">
        <% category.services.published.each do |service| %>
          <div class="col-md-2 about-grid">
            <div class="container-service-index">
              <%= image_tag service.photo.url, class: "img-responsive" %>
            </div>
            <%= link_to service_path(service) do %>
              <h4 class="text-center"><%= service.name %></h4>
            <% end %>
          </div>
        <% end %>
       </div>
     </div>
   <% end %>
</div>

<script>
  // var tags = <%#= Service.order(:title).published.map(&:title).to_json.html_safe %>

  var tags = ['Talca','Linares','Santiago']

  $( "#input_search" ).autocomplete({
    source: tags
  });
</script>


