<div class="login">
   <div class="container">
     <h2>Subir Servicio</h2>
     <div class="col-md-6 log">
        <%= render 'form' %>         
     </div>
      <div class="col-md-6 login-right">
          <h3>CONSEJOS PARA SUBIR UN SERVICIO</h3>
        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
     </div>
     <div class="clearfix"></div>    
     
   </div>
</div>

